@font-face {
  font-family: 'gilham-icons';
  src:
    url('../fonts/icons/gilham-icons.ttf?tcpekh') format('truetype'),
    url('../fonts/icons/gilham-icons.woff?tcpekh') format('woff'),
    url('../fonts/icons/gilham-icons.svg?tcpekh#gilham-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gilham-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}


