@import url(lesshat/lesshat.less);
@import (less) "../css/vendor/swiper.min.css";
@import (less) "../css/icons.css";

@import url('https://fonts.googleapis.com/css?family=Arapey');


@font-face {
    font-family: 'Avanir';
    src: url('../fonts/32D1B4_0_0.eot');
    src: url('../fonts/32D1B4_0_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/32D1B4_0_0.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.avanir() {
  font-family: 'Avanir';
}

*, *:before, *:after {
    box-sizing: inherit;
}
html {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Arapey', serif;
  box-sizing: border-box;
  @media (max-width: 80rem) {
      font-size: 14px;
  }   
  @media (max-width: 68rem) {
      font-size: 20px;
  }   
  @media (max-width: 50rem) {
      font-size: 16px;
  }    
  @media (max-width: 64rem) and (orientation: landscape) {
    font-size: 12px;
  }
  @media (max-width: 38rem) {
    font-size: 12px;
  } 
  @media (max-width: 20rem) {
    font-size: 10px;
  }
}
body {
    direction: ltr;
    box-sizing: border-box;
    height: 100%; 
    margin: 0;

}
img {
    max-width: 100%;
}
img , a , input , textarea , :focus{
  outline: none !important;
  &:focus {
    outline: none !important;
  }
}
a {
  text-decoration: none;
  &:hover , &:focus , &:active {
    text-decoration: none;
  }
  &:visited {
    color: inherit;
  }
}
ol {
  margin: 0;
  padding: 0;
  li {
  	list-style-position: inside;
  }	
}
ul {
  margin: 0;
  padding: 0;
  li {
  	list-style: none;
  }
}

.container {
  max-width: 1650px;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  position: relative;
  height: 100%;
}
.swiper-container {
  // height: 100%;
}
.swiper-wrapper , .swiper-slide {
  // min-height: 100%;
  // height: auto;
}

.bg-image {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swiper-slide {
  // padding-top: 5.3rem;
  
  .mobile {
    display: none;
  }
  .inner {
    height: 100%;
    padding: 5.3rem 30px 0;
  }
  .right-part {
    // width: 13rem;
    float: right;
    font-size: 15px;
    width: 15rem;
    @media (max-height: 900px) {
        font-size: 13px;
    }    

    .text {
      &.grey {
        p {
          color: #231f20;
          &:after {
            background-color: #231f20;
          }
          &:before {
            background-color: #231f20;
          }
        }
      }
      &.white {
        p {
          color: #fff;
          &:after {
            background-color: #fff;
          }
          &:before {
            background-color: #fff;
          }
        }
      }
    }
    .stamp {
        text-align: left;
        img {
          width: 12.2em;
          height: auto;
        }
    }
    p {
      font-size: 2.2em;
      font-style: italic;
      //line-height: 2.688em;
      
      &:after {
        content: "";
        width: 2em;
        height: 2px;
        
        margin: 1em 1em 1em 1.5em;
        display: block;
        color: inherit;
      }      
      &:before {
        content: "";
        width: 2em;
        height: 2px;
       
        margin: 1em 1em 1em 1.5em;
        display: block;
        color: inherit;
      }
    }
  }
  .left-part {
    float: left;
    font-size: 16px;
    @media (max-width: 80rem) {
        font-size: 12px;
    }    
    @media (max-width: 68rem) {
        font-size: 25px;
    }    
    @media (max-width: 48rem) {
        font-size: 20px;
    }
    @media (max-height: 900px) {
        font-size: 13px;
    }
    @media (max-height: 780px) {
        font-size: 11px;
    }
    .title-wraper {
      //position: absolute;
      //top:50%;
      //.transform(translateY(-50%));     
      margin-top: 3rem; 
    }
    h1 {
      font-size: 11.938em;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 400;
      line-height: 0.9em;
      margin-top: 0;
      margin-bottom: 0;
      span {
        display: block;
      }

      .avanir();
    }
  }
  .top-text {
    h2 {
      color: #ffffff;
      font-weight: 400;
      //line-height: 2rem;
      text-shadow: 0.125rem 0.25rem 0.25rem rgba(1, 1, 1, 0.25);
    }
  }

}



  .bottom-text {
    position: fixed;
    bottom:2rem;
    width: 100%;
    z-index: 90;
    .white-block {
      background-color: #ffffff;
      padding: 0 2rem;
      color: #231f20;
      font-size: 1.75rem;
      line-height: 2.688rem;
      font-weight: 300;
      width: 22rem;
      margin-bottom: 1.8rem;
      .avanir();
      span {
        text-transform: uppercase;
        &:after {
          content: "|";
          display: inline-block;
          padding: 0 1.5rem;
        }
      }
    }
    ul {
      li {
        list-style: none;
        color: #ffffff;
        font-size: 1.625rem;
        font-weight: 300;
        float: left;
        position: relative;
        .avanir();
        a {
          color: inherit;
          font-size: inherit;
        }
        &:last-child {
          &:after {
            content: none;
          }
        }
        &:after {
          content: "|";
          padding: 0 1.5rem;
        }
      }
    }
  }
.controls {
    position: fixed;
    bottom: 2rem;
    right: 0;
    z-index: 10;
    width: 100%;
    padding-right: 5rem;
    .swiper-pagination {
      position: relative;
      display: inline-block;
      float: right;
    }
    .swiper-button {
      float: right;
      width: 1rem;
      height: 1rem;
      background-image:url('../img/play.png');
      background-repeat: no-repeat;
      background-position: center;
      margin-left: 1rem;
      cursor: pointer;
      &:hover {
        .transform(scale(1.1));
      }
      &.playing {
        background-image:url('../img/pause.png');
      }
    }
    .swiper-pagination-bullet {
        width: 0.688rem;
        height: 0.688rem;
        background-color: #ffffff;
        opacity: 1;
        margin: 0 1rem;
        &-active {
          background-color: #a87847;
        }
    }
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

/* Small devices (ipad, 768px and down) */
@media (max-width: 68rem) {

    .swiper-container {
      height: auto;
    }
      .controls {
        padding-right: 30px;
      }
    .swiper-slide {
      height: auto;
      .bottom-text {
        position: relative;
        bottom: auto;
        margin: 3rem 0;
      }
      .left-part {
        float: none;
        h1 {
          font-size: 8rem;
        }
        .title-wraper {
          position: relative;
          top:auto;
          .transform(none);
          margin: 4rem 0;
        }
      }
      .right-part {
        display: none;
      }
      .mobile {
        display: block;
        padding: 1rem 1rem 1rem 9rem;
        background-color: rgba(0,0,0,0.5);
        margin-left: -30px;
        margin-right: -30px;
        position: relative;
        .stamp {
          float: left;
          width: 6.5rem;
          margin-right:2rem;
          position: absolute;
          top:50%;
          left:1rem;
          .transform(translateY(-50%)); 
        }
        .text {
          color:#fff;
          font-size: 2rem;
        }
      }      
    }
}     


@media (max-width: 48rem) and (orientation: landscape) {
  .swiper-slide {
    .bottom-text {
      position: relative;
      bottom: auto;
      margin: 3rem 0;
    }
  }
}
@media (max-width: 50rem) {
  .controls {
    bottom:auto;
    top:2rem;
  }
}
@media (max-width: 38rem) {
  .swiper-slide {
    .left-part {
      h1 {
          font-size: 5rem;
          line-height: 5rem;
      }
    }
    .bottom-text {
      ul {
        li {
          font-size: 1rem;
        }
      }
    }
    .mobile {
      .text {
        font-size: 1.3rem;
      }
    }
  }

}


 @media (max-width: 24rem) {
   .swiper-slide {
    .inner {
      padding-top: 3rem;
    }

  }
 }